.input-container {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.button-container {
  margin-left: 15px;
}

.list-container {
  max-height: calc(100vh - 110px);
  overflow: auto;
}

.item {
  display: flex;
  justify-content: space-between;
  width: 300px;
}
