<div class="input-container">
  <form [formGroup]="form" class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>N</mat-label>
      <input matInput type="number" [formControl]="n">
    </mat-form-field>
  </form>
  <div class="button-container">
    <button mat-flat-button color="primary" (click)="loadData()">Load data</button>
  </div>
</div>

<mat-error *ngIf="error">Error loading data</mat-error>

<div *ngIf="items" class="list-container">
  <mat-list role="list">
    <mat-list-item *ngFor="let item of items" role="listitem">
      <div class="item">
        <div [textContent]="item.name"></div>
        <div [textContent]="item.status" [ngStyle]="{'color': item.status | ItemStatus}"></div>
      </div>
    </mat-list-item>
  </mat-list>
</div>

