html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: lightgray;
  display: flex;
  justify-content: center;
}

.d-flex {
  display: flex;
}
